
#logo {
	height: 200px;
	width: 371px;
	margin-left: 740px;
}

.lista {
	float: right;
	list-style-type: none;
	height: 39px;
	width: 39px;
}
#lista {
	float: right;
	list-style-type: none;
	height: 30px;
	width: 178px;
	background-color:rgba(255,255,255,0);
	border-radius: 7px;
}

.redes {
	width: 100%;
	margin-top: -16px;
	
}
#redes1 {
	height: 29px;
	width: 29px;
	border-radius: 16px ;
	float: right;
	margin-left: 8px;
}
#redes2 {
	height: 25px;
	width: 25px;
	border-radius: 16px ;
	float: right;
	margin-top: 3px;
}

#menu {
	height: 70px;
	min-width: 1615px;
	border:solid;
}

.liMenu {
	float:left;
	width: 125px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	margin-right: 130px;
	padding: 10px;
	
}
.liMenu:hover {
	text-decoration: underline;
	color: #dc326b ;
}

#ulMenu {
	list-style-type: none;
	height: 100%;
	min-width: 900px;
	
}

#imgHome {
	margin-left: 62px; ;
}
.imgMenu {
	height: 64px;
	width: 85px;
}

#imgMenu1 {
	height: 87px;
	width: 86px;
	margin-top: -30px;
}

#imgMenu2 {
	height: 70px;
	width: 70px;
	margin-right: 35px;
}

.d-block {
	height: 450px;
	width: 700px;
}

#listaMenu {
	display: none;
	position: absolute;
	z-index: 9999;
	background-color: #ea50ad;
}
#listaMenu:hover {
	display: block;
	position: absolute;
    z-index: 9999;
}

.card-image-top {
	height: 200px;
}
.pincel-card {
	margin-top: 20px;
	
}
body {
	min-width: 1400px;
	background-image: url("../imgFundo.jpg");
	width: 100%;
	height: 100%;
}
#pinceis {
	display: none;
}
#sombras {
	display: none;
}
#blush {
	display: none;
}
#batom {
	display: none;
}
#esmaltes {
	display: none;
}
#perfumes {
	display: none;
}

.card:hover {
	background-color: black;
	color: white;
}

#inicio {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
.carousel {
	margin-top: 10px;
}

#promocao {
	font-size: 80px;
	text-align: center;
	font-family: promocao;
	margin-top: 50px;
}
@font-face {
	font-family: promocao;
	src: url("../vampire-calligraphy/fontPromocao.otf");	
}
@font-face {
	font-family: palavraMenu;
	src: url("../knight-brush-demo/fontHome.otf");
}

.palavraMenu {
	font-size: 31px;
	font-family: palavraMenu;
}

.promocao {
	text-decoration: line-through;
	color: red;
}
hr {
	margin-top: 1070px;
	width: 100%;
}

